html {
  background-color: pink;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inknut Antiqua', sans-serif;
  // font-weight: 300;
}

p, li, a, span, div {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}

.current {
  color: green;
}