html {
  background-color: hsla(8, 67%, 92%, 1);
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inknut Antiqua', sans-serif;
  font-weight: 300;
}

p, li, a, span, div {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

li::marker {
  font-size: 0.75rem; 
}

h1 {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 16px;
  margin-bottom: 0;
}

h2 {
  padding: 0;
  margin: 0 auto;
  max-width: fit-content;
  font-size: 1rem;
}

p {
  margin: 0
}

.current {
  color: green;
}

#mainpage {
  margin: 0 auto;
  padding: 0px 32px 32px;
  max-width: 600px;
}

#contact {
  margin: 8px 0 0;
}